
{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
		<img  class="img-responsive img-circle" src="https://i.imgur.com/IOJ6q3q.png" class="img-responsive img-circle" style="max-height:300px; max-width:400px">
		<br>
		<p><i>Hey! Technology is my hobby and I love to see women embracing it.I am Blessing Chiwaura,a web developer, electronics tecnician and django girls workshops organiser/coach. I love learning new things and taking up challenges</i></p>
	</div>
	<!--<div class="col-xs-3"></div></div.>-->
</div>
{% endblock %}