
{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<img src="https://i.imgur.com/IOJ6q3q.png" class="img-responsive img-circle" style="height:200px; width:200px">
		<p><i>Hey! Technology is my hobby and I love to see women embracing it.I am Blessing Chiwaura,a web developer, electronics tecnician and django girls workshops organiser/coach. I love learning new things and taking up challenges</i></p>
	</div>
</div>
{% endblock %}