
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">




	{% load staticfiles %}
	<title>{{ title }} - Blesschews Blog</title>
	<link rel="stylesheet" type="text/css" href="/static/styles/css/bootstrap.css">
	{# <link rel="stylesheet" type="text/css" href="{% static "styles/css/bootstrap.css" %}"> #}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
	
</head>

<body>


<nav class="navbar navbar-inverse ">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class='navbar-brand' href="#">Blesschews</a>
		</div>


        <div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a  href="#">About</a></li>
			<li><a  href="#">Projects</a></li>
			<li class="dropdown"><a  class="dropdown-toggle"  data-toggle="dropdown" href="#">Articles<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li class="dropdown-item"><a href="#">Programming</a></li>
					<li class="dropdown-item"><a href="#">Networking</a></li>
					<li class="dropdown-item"> <a href="#">Electronics</a></li>
					<li class="dropdown-item"> <a href="#">Other</a></li>
				</ul>

			</li>
		</ul>
        </div>
		
	</div>
	
</nav>


<div class=" content container" style="background:chocolate">
	{% block content %}
	{% endblock %}
</div>


<footer class="navbar" style="margin-top:10px;background:black;">
	<div class="container-fluid">
		<ul class="nav navbar-nav ">
			<li><a href="https://github.com/blesschews"><i class="fa fa-github"></i> </a></li>
			<li><a href="https://gitlab.com/blesschews"><i class="fa fa-gitlab"></i> </a></li>
			<li><a href="https://twitter.com/BeeChiwa"><i class="fa fa-twitter"></i>    </a></li>
			<li><a href="https://www.facebook.com/alice.chivaura"><i class="fa fa-facebook"></i>    </a></li>
			<li> <a href="#">&copy; Blessing Chiwaura</a></li>

		</ul>
	</div>
</footer>





<!-- jQuery -->
<script src="/static/styles/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/styles/js/bootstrap.min.js"></script>
</body>
</html>
