
<!DOCTYPE html>
<html lang="en" style="height:100%;">
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">




	{% load staticfiles %}
	<title>{{ title }} - Blesschews Blog</title>
	<!--<link rel="stylesheet" type="text/css" href="/static/styles/css/bootstrap.css">-->
	<link rel="stylesheet" type="text/css" href="{% static "styles/css/bootstrap.css" %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

</head>




<nav class="navbar " >
	<div class="container-fluid navbar-fixed-top"  style="background:chocolate" >
		<div class="navbar-header ">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar" style="background-color:black"></span>
            <span class="icon-bar" style="background-color:black"></span>
            <span class="icon-bar" style="background-color:black"></span>
            </button>
			<a class='navbar-brand' href="#" style="color:black;">Blesschews</a>

		</div>


        <div id="myNavbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a  href="{% url 'about' %}" style="color:black;">About</a></li>
			<li><a  href="{% url 'project' %}" style="color:black;">Projects</a></li>
			<li class="dropdown"><a  class="dropdown-toggle"  data-toggle="dropdown" href="#" style="color:black;">Articles<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li class="dropdown-item"><a href="{% url 'tagged_post' pk=1 %}">Programming</a></li>
					<li class="dropdown-item"><a href="{% url 'tagged_post' pk=2 %}">Networking</a></li>
					<li class="dropdown-item"> <a href="{% url 'tagged_post' pk=3 %}">Electronics</a></li>
					<li class="dropdown-item"> <a href="{% url 'tagged_post' pk=4 %}">Other</a></li>
				</ul>

			</li>
		</ul>
        </div>

	</div>

</nav>





<body style="">
	<div class="row">
	<div class="col-xs-6">
		<ul style="list-style:none; display:inline-block">
			<i class="fa fa-tags"></i>{% for tag in tags %}
			<a href="{% url 'tagged_post' pk=tag.pk %}">{{ tag.name }} &nbsp</a>
			{% endfor %}
		</ul>
		<hr>
	</div>
	</div>

<div class="  container">
	{% block content %}
	{% endblock %}
</div>
</body>


<nav class="navbar">
<footer class="navbar-fixed-bottom" style="margin-top:10px;background:black;">
	<div class="container-fluid">
		<ul class="nav navbar-nav ">
			<li><a href="https://github.com/blesschews"><i class="fa fa-github"></i> </a></li>
			<li><a href="https://gitlab.com/blesschews"><i class="fa fa-gitlab"></i> </a></li>
			<li><a href="https://twitter.com/BeeChiwa"><i class="fa fa-twitter"></i>    </a></li>
			<li><a href="https://www.facebook.com/alice.chivaura"><i class="fa fa-facebook"></i>    </a></li>
			<li> <a href="#">&copy; Blessing Chiwaura 2017</a></li>

		</ul>
	</div>
</footer>
</nav>





<!-- jQuery -->
<script src="/static/styles/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/styles/js/bootstrap.min.js"></script>

</html>
