{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-xs-10">
		<h2>{{ latest_post.title }}</h2>
		{% if latest_post.date_published %}
		<p>{{ latest_post.date_published }}</p>
		{% endif %}
		<p>{% for tag in post_tags %} <a href="{% url 'tagged_post' pk=tag.pk %}"><i>{{  tag.name }} &nbsp</i></a>{% endfor %}</p>
		<div><p>{{ latest_post.content|safe|linebreaks }}</p></div>
		<br>
		<p><i>Author- <a href="https://twitter.com/BeeChiwa">Blessing Chiwaura</a></i></p>


		<hr>

		
		<a href="{% url 'post_detail' pk=latest_post.pk %}"><button type="submit" class="save btn btn-primary">Comment</button></a>
		

		
		
	</div>
	<div class="col-xs-2"></div>
	
		<div>
			<h2><i>Recent Posts</i></h2>
			{% for post in recent_posts %}
			<p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
			{% endfor %}
		</div>

		<div>
			<h2><i>All Posts</i></h2>
			{% for article in all_posts %}
			<p><a href="{% url 'post_detail' pk=article.pk %}">{{ article.title }}</a></p>
			{% endfor %}
		</div>
	</div>
</div>




	
{% endblock %}