{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-xs-10">
		<h2>{{ post.title }}</h2>
		
		{% if post.date_published %}
		<p>{{ post.date_published }}</p>
		{% endif %}
		<p>{% for tag in post_tags %} <a href="{% url 'tagged_post' pk=tag.pk %}"><i>{{  tag.name }} &nbsp</i></a>{% endfor %}</p>
		{% if post.content %}
		<p>{{ post.content|safe|linebreaks }}</p>
		{% else %}
		<p><i>Post content coming soon</i></p>
		{% endif %}
		<br>
		<p>Author- <a href="https://twitter.com/BeeChiwa">Blessing Chiwaura</a></i></p>
		<hr>

		
		<a href="{% url 'add_comment' pk=post.pk %}"><button type="submit" class="save btn btn-primary">Add comment</button></a>
		
		<h2>Comments</h2>
		{% for comment in post.comments.all %}
		<p class="date">{{ comment.created_date }}</p>
		<strong>{{ comment.email }}</strong>
		<p>{{ comment.comment_text|linebreaks }}</p>
		<hr style="border-color:chocolate">
		{% empty %}
		<p>No comments here yet :(</p>
		{% endfor %}
		
	</div>
</div>



{% endblock %}